
$background-color:#edfee6;
$container-color: white;

.bkgsContner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;
    height:90vh
}

.bkgsHeader{
    width:100%;

}
.bkgsTitle{
    width: 80%;
    margin: 2% 10% 2% 10%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center

}

.noBkngs{
    align-content: center;
}

.linkToRigs{
    padding:20px;
    background-color: $container-color;
    border-radius: 20px;
    font-size: 15px;
}

.bkgsItemContner{
    width:100%
}

.bkgsItem{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 2% 10% 2% 10%;
    padding: 10px;
    background-color:#b9a28f;
    border-radius: 20px;
}
span{
    font-weight:bold;
}

.bkgsBtn{
    background-color: rgb(249, 138, 138);
    font-size: 10px;
}