
$background-color:#edfee6;
$container-color: rgba(181, 181, 107, 0.776);

.bookingsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;
    overflow: hidden;
    justify-content: space-evenly;
}

.bookingsHeader{
    width:100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2.5%
}

    .bookingsHeader > div > h

.linkToRigs{
    padding:20px;
    background-color: $container-color;
    border-radius: 20px;
    font-size: 15px;
}

.bookingsItemContainer{
    background-color: $container-color;
    height:80%;
    width:90%;
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;

}

.individualBooking{
    padding:2%;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bookingImage{
    width:20%;
}

.bookingInfo{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



    .bookingDetails{
        display:flex;
        justify-content: space-evenly;
        flex-direction: row;
        width:100%;

    }

        .pickup, .dropoff{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width:45%;
            margin-bottom:2%;
        }

            .pickup>div:first-child, .dropoff>div:first-child {
                font-size: 25px;
                font-weight: bold;
                margin-bottom:10px;
            }

            .pickup>div:nth-child(2), .dropoff>div:nth-child(2){
                font-size: 20px;
            }

        .bookingDetails > button {
            background-color: rgb(249, 138, 138);
            font-size: 10px;
            width:10%;
            height:20px;
        }

    .ownerInfo{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size:15px
    }

        .ownerInfo > div:first-child{
            width:20%;
        }