$border-color: red;
$border-style: none;
$background-color:#edfee6;
$container-color: rgb(219, 244, 215);
$review-border-radius: 20px;


.showContner{
    border: $border-color;
    border-style: $border-style;
    background-color: #edfee6;
    width: 100%;
    height:95%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.carImgs{
    // transform: scale(1.1);
    display:flex;
    flex-direction:row;
    overflow: scroll;
    margin:2px;
    height:200px;
}

.indvImg{
    margin:2px;
}

.carInfo{
    border: $border-color;
    border-style: $border-style;
    width: 60%;
    height:100%;
    margin-left: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: $review-border-radius;
    background-color: $container-color ;
}

    .carInfo > h1 {
        margin-bottom:1%;
        font-size:35px;
        text-decoration: underline;
    }

.bkgsCal > h3 {
    margin-bottom:1%;
}

.showMap{
    width: 100%;
    height: 30%;
    margin-top:2%
}
    .showMap > div {
        width: 100%;
        height: 100%
    }