$border-color: red;
$border-style: none;

.showContner{
    border: $border-color;
    border-style: $border-style;
    background-color: #edfee6;
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.review-container{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;

}

.carInfo{
    display:flex;
    flex-direction: column;
    height:51%
}

.carImgs{
    // transform: scale(1.1);
    display:flex;
    flex-direction:row;
    overflow: scroll;
    margin:2px;
}

.indvImg{
    margin:2px;
}

.carFields{
    border: $border-color;
    border-style: $border-style;
    width: 58%;
    height:98%;
    margin-top: 10px;
    margin-right:2%;
    padding-left:3%;
    display: flex;
    flex-direction: column;
}

.car-interactive{
    display:flex;
    flex-direction: column;
    width:38%;
    margin-left:2%;
    margin-top:10px;
}

