$border-color: red;
$border-style: none;
$background-color:#edfee6;

.carIndex{
    border: $border-color;
    border-style: $border-style;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $background-color;

}

.map{
    border: $border-color;
    border-style: $border-style;
    width:600px;
}

.centerSlct{
    margin: 20px;
}

#map-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}