$border-color: red;
$border-style: none;
$background-color:#edfee6;

.carIndex{
    border: $border-color;
    border-style: $border-style;
    width: 100%;
    margin-top: 10px;
    padding:2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $background-color;

}


.carFilter{
    width:65%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



.map{
    border: $border-color;
    border-style: $border-style;
    width:30%;
    height: 90%
}

.centerSlct{
    margin: 20px;
}

#map-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}