$border-color: red;
$border-style: none;
$background-color:#edfee6;
$container-color: rgb(219, 244, 215);
$review-border-radius: 20px;


.showContner{
    border: $border-color;
    border-style: $border-style;
    background-color: #edfee6;
    width: 100%;
    height:95%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}



.carInfo{
    display:flex;
    flex-direction: column;
    height:51%
}

.carImgs{
    // transform: scale(1.1);
    display:flex;
    flex-direction:row;
    overflow: scroll;
    margin:2px;
}

.indvImg{
    margin:2px;
}

.carFields{
    border: $border-color;
    border-style: $border-style;
    width: 60%;
    height:100%;
    margin-left: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: $review-border-radius;
    background-color: $container-color ;
}

.car-interactive{
    display:flex;
    flex-direction: column;
    width:38%;
    margin-left:2%;
    margin-top:10px;
}

