$font: 'Montserrat', sans-serif;
$font-style: italic;

.hide-filters{
    height:0px
}

.carFilter{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.filters{
    width:100px;
}

.allCars{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    overflow: scroll;
    width: 80%;

}

.listCars{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

button {
    width: 100px;
    padding: 3px 12px;
    background-color:rgb(181, 181, 107);
    // color:white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    // border: $border-color;
    // border-style: $border-style;
}

.selection{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}

.checkBox{
    width:15px;
}

.filterLabel{
    font-size: 13px;
}