$border-color: red;
$border-style: solid;


.homeDesc{
    border: $border-color;
    border-style: $border-style;
    display: flex;
    height: 85vh;

}
.home{
    border: $border-color;
    border-style: $border-style;
    background-image: url("homepage.jpeg");
    height: 98%;
    border: transparent;
    margin: 3%;
    opacity: 90%;
    background-repeat: no-repeat;
}

