$border-color: transparent;
$border-style: solid;
$font: 'Montserrat', sans-serif;
$font-style: italic;

.home{
    display:flex;
    flex-direction: column;
    border: $border-color;
    // border-style: $border-style;
    background-image: url("homepage.jpeg");
    background-size: 100% 100%;
    height: 83vh;
    width: 100%;
    margin-top: 5px;
    background-repeat: no-repeat;
    // display:flex;
    // justify-content: center;
    // flex-direction: row;
}



.homeheader{
    border: $border-color;
    border-style: $border-style;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    height: 50px;
    // padding: 100px, 10px, 10px, 10px;
    color: black;
    text-align: center;
    font-family: $font;
}

.homesubheader{
    border: $border-color;
    border-style: $border-style;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
    color: black;
    text-align: center;
    font-family: $font;
    font-style: $font-style;
    font-weight: 1000;
}

