
$border-color: transparent;
$border-style: solid;
$nav-fontsize: 12px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    border: $border-color;
    border-style: $border-style;
    width:100%;
}
.headerText{
    color: white
}


.navbar{
    width: 50%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border: $border-color;
    border-style: $border-style;
}

.navlinks {
    color: white;
    list-style: none;
    text-decoration: none;
    border: $border-color;
    border-style: $border-style;

}

.homeLink{
    color:white;
    font-size: $nav-fontsize;
}

.rigsLink{
    color:white;
    font-size: $nav-fontsize;
}

.bookingsLink{
    color:white;
    font-size: $nav-fontsize;
}

li, a {
    display: inline-block;
    padding: 5px;
    color: black;
    text-decoration: none;
    border: $border-color;
    border-style: $border-style;
    
}

.signup-container{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color:darkblue; */
    border: $border-color;
    border-style: $border-style;
}

.signup{
    /* margin: 1%; */
    padding: 5px;
    border: $border-color;
    border-style: $border-style;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    border: $border-color;
    border-style: $border-style;
}

.navCreds{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.btns{
    font: bold $nav-fontsize Arial;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 50px;
    margin: 5px;
    border: $border-color;
    border-style: $border-style;
}
.btnl{
    font: bold $nav-fontsize Arial;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 50px;
    margin: 5px;
    border: $border-color;
    border-style: $border-style;
}

.logoutbtn{
    font: bold $nav-fontsize Arial;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 50px;
    margin: 5px;
    border: $border-color;
    border-style: $border-style;
}

.loggedUser{
    color:white;
}