
$border-color: red;
$border-style: none;
$background-color: white;
$font: 'Montserrat', sans-serif;
$font-style: italic;

.rigContainer{
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5px 10px 5px;
    background-color: $background-color;
    flex-direction: column;
    width: 330px;
    height:480px;
    margin: 5px;
}
        .rigContainer > a > img{
            border-radius: 20px;
            width: 99%;
            height: 300px;
        }

    .rigContainer > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 10px 0px;
        flex-direction: row;
        width: 100%;
        height:30px;
        font-family:$font;
        font-weight:bold;
        font-size:20px

    }

    .rigContainer > h5 {
        font-size: 15px;
        font-weight: bold;
    }

.rig-features{
    font-family: $font;
    font-style: $font-style;
    font-size: 13px
}

