


$border-color: red;
$border-style: solid;

.rigContainer{
    border: $border-color;
    border-style: $border-style;


    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #00a2b4;
    margin: 10px 15px 0 15px;
    flex-direction: column;
    width: 300px;
}

.rigTitle{
    border: $border-color;
    border-style: $border-style;
    display: flex;
    justify-content: flex-end;
    align-items: space;
    padding: 30px 10%;
    background-color: #00a2b4;
    margin: 10px 15px 0 15px;
    flex-direction: row;
    width: 100%;

}