
$background-color:#edfee6;
$container-color: rgb(219, 244, 215);
$review-border-radius: 20px;

.review-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:30%;
    height:100%;
    overflow:hidden;
}



.createReview{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding:5px;
    margin-bottom:5px;
    border-radius: $review-border-radius;
    background-color: $container-color ;
}

    .createReview > div {
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }

        .createReview > div > h3 {
            margin-left:5%;
            font-size:20px
        }

.createForm{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px 0px 5px 0px;
}

    .createForm > textarea{
        width:79%;
        padding:5px 0 0 5%;
        font-size: 15px; 
    }

.createReviewBtn{
    width:20%;
    font-size:10px;
}
.prvsReviewsContnr{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:5px;
    border-radius: $review-border-radius;
    background-color:$container-color;
    overflow-y:scroll
}

    .prvsReviewsSubContnr{
        width:90%;
        display:flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid black;
        border-left: none;
        border-right: none;

    }

.prevReviews{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    height: 100%;
    margin:5px 0 5px 0;
    padding:5px 0 5px 0;
}
 
    .reviewUserInfo{
        display: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-right: 10px;
        font-weight: bold;
    }
    .userReview {
        height: 100%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
        .userReview > text{
            align-items: center;
            height:90%;
        }

        .editReview{
            display:flex;
            width: 20%;
            color: white;
            margin-left: 75%;
            text-align: center;
            align-items: center;
        }

.editReviewModal{
    background-color: #a2bd97;
    border-radius: 10%;
    position: absolute;
    z-index: 1;
    width:40%;
    height:40%;
    top:30%;
    left:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

    .editReviewModal > button{
        width:25px;
        margin-left:75%;
        background-color: transparent
    }

    .editReviewModal > form {
        height:75%;
        width:90%;
    }

    .editReviewModal > form > textarea {
        height:85%;
        width:100%;
        outline:none;
        border: none;
        padding:5%;
        font-size: 18px
    }

    .editReviewModal > form > input{
        height: 12%;
        width: 50%;
        font-size: 12px;
    }


// .updateForm{
//     width:100%;
//     display:flex;
//     justify-content: space-between;
//     flex-direction: row;
//     margin-bottom:5px;
//     background-color: rgb(219, 244, 215);

// }

// .currentUsersReview{
//     width:79%;
//     height:40px;
//     padding-left:1%;
//     background-color: white;
// }
// .othersReviews{
//     width:79%;
//     height:40px;
//     padding-left:1%;
//     background-color: white;
    
// }

// .updateReviewBtn{
//     width:20%;
//     font-size:9px;
//     white-space: normal;
// }

