
.session{
    background-image: image_url("signup_login.jpeg");
    background-size: 100% 100%;
    width:100%;
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
.session-container{
    width:250px;
    height: 45%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: grey;
    opacity: 70%;
    border-radius: 10px;
    
}
    .session-container > h2{
        margin: 5%;
        height:15%;
    }

    .session-container > form{
        height: 85%;
        display: flex; 
        justify-content: space-evenly;
        flex-direction: column;
        margin: 5%;
    }
    .session-container > form > button{
        font-size:18px;
    }

input {
    height: 45px;
    width: 100%;
    margin: 2px;
    padding: 5px;
    font-size:18px
}

.loginbtn-container{
    display:flex;
    justify-content: space-evenly;
}

    .loginbtn-container > button{
        font-size:18px;
    }